.chat-screen
{
    z-index: 4500;
    height: 100%;
    width: 100%;
    border-style: ridge;
    border-color: #f27474;
    background-color: rgb(92, 43, 20);
    float: right;
    padding-left: 1vw;
    user-select: text;
}


