<app-header></app-header>
<div class="container">

    <div class="content">

        <div class="photo-frame">
            <img src="yo.jpg" alt="yo">
        </div>
    
        <div class="text">
            <h1>Dzisko, Nicolas</h1>
            <p>Estudiante de programación en la Universidad Tecnológica Nacional, Argentina.</p>
            <p>Me gustan los trenes.</p>
            <br>
            <p>Scoundrel es un juego de cartas solitario rogue-like creado por ach Gage y Kurt Bieg</p>
            <a routerLink="/scoundrel/reglas" >Puedes ver las reglas detalladas aquí</a>
        </div>

    </div>

</div>
    

