<app-header></app-header>
<div class="container">
    
    <button mat-button id="btnReset" (click)="refresh()">Reiniciar</button>
    <div id="wordContainer">
        <p class="word">{{this.progresoPalabra}}</p>
    </div>

    <div class="gameScreen">
        <div class="podium" >
            @if (this.letrasIncorrectas.length == 5)
            {
                <img class="endingBubble" src="lose.png">
            }
            @else if (this.end)
            {
                <img class="endingBubble" src="win.png">
            }
            <img id="horca" src="horca.png">
            <img class="monigote"
            src="monigote0.png">

            <img class="monigote"
            src="monigote1.png"
            [style.z-index]="(this.letrasIncorrectas.length >= 1) ? 20 : -1">
            <img class="monigote"
            src="monigote2.png"
            [style.z-index]="(this.letrasIncorrectas.length >= 2) ? 30 : -1">
            <img class="monigote"
            src="monigote3.png"
            [style.z-index]="(this.letrasIncorrectas.length >= 3) ? 40 : -1">
            <img class="monigote"
            src="monigote4.png"
            [style.z-index]="(this.letrasIncorrectas.length >= 4) ? 50 : -1">
            <img class="monigote"
            src="monigote5.png"
            [style.z-index]="(this.letrasIncorrectas.length >= 5) ? 60 : -1">
        </div>
    </div>
    <div class="keyboard"
        [style.pointer-events]=" (this.end) ? 'none' : 'auto' "
        >
        <div class="keyboardRow">
            <span class="key"
                (click)="ingresarLetra('Q')" 
                [class.wrongKey]="(this.checkIfLetterIsUsed('Q') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('Q') == 2)"
                >Q
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('W')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('W')) == 1"
                [class.correctKey]="(this.checkIfLetterIsUsed('W') == 2)"
                >W
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('E')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('E') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('E') == 2)"
                >E
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('R')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('R') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('R') == 2)"
                >R
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('T')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('T') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('T') == 2)"
                >T
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('Y')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('Y') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('Y') == 2)"
                >Y
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('U')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('U') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('U') == 2)"
                >U
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('I')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('I') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('I') == 2)"
                >I
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('O')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('O') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('O') == 2)"
                >O
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('P')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('P') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('P') == 2)"
                >P
            </span>
        </div>
        <div class="keyboardRow">
            <span 
                class="key"
                (click)="ingresarLetra('A')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('A') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('A') == 2)"
                >A
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('S')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('S') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('S') == 2)"
                >S
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('D')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('D') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('D') == 2)"
                >D
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('F')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('F') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('F') == 2)"
                >F
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('G')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('G') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('G') == 2)"
                >G
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('H')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('H') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('H') == 2)"
                >H
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('J')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('J') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('J') == 2)"
                >J
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('K')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('K') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('K') == 2)"
                >K
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('L')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('L') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('L') == 2)"
                >L
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('Ñ')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('Ñ') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('Ñ') == 2)"
                >Ñ
            </span>
        </div>
        <div class="keyboardRow">
            <span 
                class="key"
                (click)="ingresarLetra('Z')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('Z') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('Z') == 2)"
                >Z
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('X')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('X') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('X') == 2)"
                >X
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('C')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('C') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('C') == 2)"
                >C
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('V')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('V') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('V') == 2)"
                >V
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('B')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('B') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('B') == 2)"
                >B
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('N')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('N') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('N') == 2)"
                >N
            </span>
            <span 
                class="key"
                (click)="ingresarLetra('M')"
                [class.wrongKey]="(this.checkIfLetterIsUsed('M') == 1)"
                [class.correctKey]="(this.checkIfLetterIsUsed('M') == 2)"
                >M
            </span>
        </div>
    </div>
</div>