<app-header></app-header>
<div class="container">
    <div class="rules-container">
        <h2>Configuración</h2>
        <p>Scoundrel se juega con una baraja inglesa.</p>
        <p>Busca en el mazo y remueve todos los comodines, las caras rojas y las ases rojas. Estas cartas no se usarán en este juego.</p>
        <p>Mezcla las cartas restantes y colocalas en una pila boca abajo. Este mazo es llamado "la Mazmorra".</p>
        <p>Marca "20" en una pieza de papel (o usa tu memoria), esta es tu Salud inicial.</p>
        <br>
        <h2>Reglas</h2>
        <p>Las 26 Picas y Tréboles en el mazo son Monstruos. Sus daño es igual a su valor ordenado (por ej. 10 es 10, Jota es 11, Reina es 12, Rey es 13, y As es 14)</p>
        <p>Los 9 Diamantes en el mazo son Armas. Cada arma inflije tanto daño como su valor. Todas las armas en Scoundrel son vinculantes, es decir que si agarras una, debes equiparla y descartar el arma anterior.</p>
        <p>Los 9 Corazones en el mazo son Pociones. Sólo podés usar una poción de salud cada turno, incluso si sacás dos. La segunda poción que saques se descarta. No podés restaurar tu vida más allá de las 20 Salud iniciales.</p>
        <p>Puedes colocar el mazo de cartas en cualquier lado, aunque se recomienda colocarlo a la derecha de la Habitación. Las cartas se descartan boca abajo.</p>
        <p>El Juego termina cuanto tu vida llegue a 0 o logres atravesar la Mazmorra completa.</p>
        <br>
        <h2>Puntaje</h2>
        <p>En esta versión sumas un punto cada turno que completes.</p>
        <br>
        <h2>Jugabilidad</h2>
        <p>En tu primer y cada turno, da vuelta las cartas de la parte superior de la baraja, una por una, hasta que tengas 4 cartas boca arriba frente a ti para crear la Habitación.</p>
        <p>Puedes huir de una Habitación. Si lo haces, toma todas las cartas y devuélvelas al fondo del mazo. Aunque puedes huir de tantas Habitaciones como quieras, no puedes huir de dos Habitaciones seguidas.</p>
        <p>Si eliges huir de la Habitación, una por una, debes enfrentar 3 de las 4 cartas que contiene.</p>
        <h3>Si eliges un Arma...</h3>
        <p>Debes equiparla. Hazlo colocándola boca arriba entre vos y la Habitación. Si tenias previamente equipada un Arma, descártala junto a todos los Monstruos que tenga.</p>
        <h3>Si eliges una Poción de Salud ...</h3>
        <p>Agrega su número a tu salud, y luego descártala. Tu salud no puede exceder 20, y no puedes usar más de una Poción de Salud por turno. Si tomás dos Pociones de Salud en un mismo turno, el segundo simplemente se descarta, sin agregarse a tu salud.</p>
        <h3>Si eliges un Monstruo...</h3>
        <p>Puedes luchar sin armas o con un Arma equipada.</p>
        <br>
        <h2>Combate</h2>
        <p>- Si elegiste luchar contra el Monstruo sin armas, resta de tu Salud su valor completo y descarta al Monstruo.</p>
        <p>- Si elegiste luchar contra el Monstruo con tu Arma equipada, coloca al monstruo boca arriba junto a tu arma (y encima de cualquier monstruo que ya esté junto al Arma). Resta el valor del Arma al valor del Monstruo y resta ese resultado de tu salud</p>
        <p>Por ejemplo, si tu Arma es un 5, y colocas un Monstruo 4 a su lado, no recibes daño (3 - 5 < 0) Si tu arma es un 5 y colocas un Monstruo Jota, recibes 6 de daño (11 - 5 = 6)</p>
        <p>Es importante remarcar que aunque mantengas tu Arma hasta que sea reemplazada, una vez que un Arma se use contra un Monstruo, esa Arma solo puede usarse para matar a un Monstruo de menor valor (menos que igual) que el Monstruo matado anteriormente.</p>
        <p>For example, if your 5 Weapon has killed a Queen Monster and you then choose a 6 Monster, you may use your Weapon on the 6 Monster, as 6 is less than 12</p>
        <p>Por ejemplo, si tu Arma 5 mató un Monstruo 6, y luego eliges a un Monstruo Reina debes luchar contra la Reina sin armas, ya que la Reina, 12, es mayor que 6. A pesar de esto, el Arma no es descartada y puede seguir siendo usada contra Monstruos menores a 6.</p>
        <br>
        <p>Una vez que hayas elegido 3 cartas (de tal forma que solo quede una), tu turno termina. Dejando la cuarta carta enfrente tuyo como parte de la siguiente Habitación.</p>
    </div>
</div>