<app-header></app-header>

<div class="container-games">
    <app-chat class="chat-screen"></app-chat>

    <div class="game-screen">

        @if (this.lives == 0 || this.remainingCards == 0 || this.giveUp == true)
        {
            <img id="game-over" src="game-over.png">
        }

        <div id="card1" class="card-area, center-item">
            @if (!this.started)
            {
                <img class="card-image" src="card_back.png">
            } @else {
                <img class="card-image" src="{{this.previousCard?.image}}">
            }
        </div>
        
        <div id="card2" class="card-area, center-item">

            @if (!this.cardVisible)
            {
                <img class="card-image" src="card_back.png">
            } @else {
                <img class="card-image" src="{{this.drawnCard?.image}}">
            }
        </div>

        <div id="score" class="center-item">
            <h1>Puntaje: {{this.score}}</h1>
        </div>

        <div class="results">
            @if (!this.started)
            {
                <button id="start-button" class="end-button" mat-button (click)="this.startNewGame()">Empezar</button>
            } @else {
                @if (this.lives > 2 ) 
                {
                    <img class="heart" src="heart.png">
                }
                @if (this.lives > 1) 
                {
                    <img class="heart" src="heart.png">
                }
                @if (this.lives > 0) 
                {
                    <img class="heart" src="heart.png">
                }
            }
        </div>

        <div class="reset">
            @if (this.started)
            {
                <button class="end-button" mat-button
                (click)="this.giveUp = true">Rendirse</button>

                <button class="end-button" mat-button
                (click)="this.reset()">Reiniciar</button>
            }
        </div>

        <div class="player-controls"
        [style.pointer-events]=" (this.canPlay) ? 'none' : 'auto' ">


            @if (this.started)
            {
                <div class="player-controls-buttons-area" id="greater-control">
                    
                    <button mat-fab extended
                        [class.mat-fab-custom]="this.mayorCorrect == 0"
                        [class.mat-fab-wrong]="this.mayorCorrect == 1"
                        [class.mat-fab-correct]="this.mayorCorrect == 2"
                        (click)="this.optionSelected('mayor')" >
                        <mat-icon>arrow_back_ios</mat-icon>
                        Mayor
                    </button>
                </div>
    
                <div class="player-controls-buttons-area" id="lesser-control">
                    <button mat-fab extended
                        [class.mat-fab-custom]="this.menorCorrect == 0"
                        [class.mat-fab-correct]="this.menorCorrect == 1"
                        [class.mat-fab-wrong]="this.menorCorrect == 2"
                        (click)="this.optionSelected('menor')" >
                        <mat-icon>arrow_forward_ios</mat-icon>
                        Menor
                    </button>
                </div>
            }
        </div>

    </div>

</div>
