<app-header></app-header>

<div class="container-games">
    <app-chat class="chat-screen"></app-chat>

    <div class="game-screen">

        <div class="card1">
            <p>Carta1</p>
        </div>

        <div class="card2">
            <p>carta2</p>
        </div>

        <div class="score">
            <p>Puntaje</p>
        </div>

        <div class="results">
            <p>resultado</p>
        </div>

        <div class="reset">
            <button>Reiniciar</button>
        </div>

        <div class="player-controls">
            <p>Controles del jugador</p>
        </div>

    </div>

</div>
