.game-screen
{
    grid-template: 5vh 1fr 1fr 1fr / 1fr 1fr 15vh 1fr 1fr;
    background: url("../../assets/wooden-table.jpg");
}

#score, .player-controls
{
    background: url("../../assets/white-paper-texture.jpg");
}

#score, .player-controls, .player-controls-buttons-area, .results, .reset
{
    height: 100%;
    width: 100%;
}

.reset, .player-controls
{
    gap: 2px;
}

.center-item
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#score
{
    grid-area: 1 / 2 / 2 / 5;
}

#card1
{
    grid-area: 2 / 1 / 5 / 3;
}

#card2
{
    grid-area: 2 / 4 / 5 / 6;
}

.results
{
    grid-area: 2 / 3 / 3 / 4;
}

#greater-control
{
    grid-row: 1 / span 1;
}

#lesser-control
{
    grid-row: 2 / span 1;
}

.player-controls
{
    grid-area: 3 / 3 / 4 / 4;    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: stretch;
    border: 1px solid black;
}

.player-controls-buttons-area
{
    display: flex;
    align-items: center;
    justify-content: center;}

.mat-fab-custom,.mat-fab-correct,.mat-fab-wrong
{
    box-shadow: none;
    font-size: large;
    max-width: 10vw;
    aspect-ratio: auto;
}

.mat-fab-custom
{
    background: none;
}
.mat-fab-correct
{
    background-color: green;
}

.mat-fab-wrong
{
    background-color: red;
}

.reset
{
    display: grid;
    align-items: end;
    align-content: end;
    grid-area: 4 / 3 / 5 / 4;}

.card-image
{
    width: 90%;
    aspect-ratio: auto;
    max-height: 90%;
    object-fit: contain
}

.heart
{
    grid-row: 4 / 5;
    aspect-ratio: auto;
    width: 3vw;
}

.end-button
{
    background-color: #e3b790;
}

.results
{
    display: grid;
    grid-template-rows: repeat(4 1fr);
}

#start-button
{
    height: 100%;
    font-size: xx-large;
    background-color: #f27474;
}

#game-over
{
    grid-area: 1 / 1 / 5 / 6;
    display: flex;
    z-index: 300;
    height: 89%;
    aspect-ratio: auto;
    align-self: center;
    justify-self: center;
    margin: 0;
}
