<app-header></app-header>
<div class="container-games">

    <app-chat class="chat-screen"></app-chat>

    <div class="game-screen"
    [style.pointer-events]=" (this.canPlay) ? 'auto' : 'none' ">

        @if ( this.deck != undefined && this.deck.remaining == 0
            || this.giveUp == true)
        {

            <div id="game-over-screen">
                <img id="game-over" src="game-over.png">
            </div>
            
        }

        @if (!this.started)
        {
            <div id="start-screen">
                <button mat-button class="start-button" (click)="startNewGame()">Empezar</button>
            </div>
        }

        <div id="room">
            
            @if (!this.started)
            {

                <div class="room-card">
                    <img class="card" src="card_back.png">
                    <button class="mat-button-custom" mat-button>ataque sin armas</button>
                    <button class="mat-button-custom" mat-button>ataque con armas</button>
                </div>
    
                <div class="room-card">
                    <img class="card" src="card_back.png">
                    <button class="mat-button-custom" mat-button>ataque sin armas</button>
                    <button class="mat-button-custom" mat-button>ataque con armas</button>
                </div>
                
                <div class="room-card">
                    <img class="card" src="card_back.png">
                    <button class="mat-button-custom" mat-button>ataque sin armas</button>
                    <button class="mat-button-custom" mat-button>ataque con armas</button>
                </div>
    
                <div class="room-card">
                    <img class="card" src="card_back.png">
                    <button class="mat-button-custom" mat-button>ataque sin armas</button>
                    <button class="mat-button-custom" mat-button>ataque con armas</button>
                </div>
            } @else {
                @for (card of this.roomPile?.cards; track $index)
                {
                    <div class="room-card">
                        <img class="card" src="{{card.image}}" >

                        @if (this.isRed(card.code))
                        {
                            @if (this.isDiamond(card.code))
                            {
                                <button class="mat-button-custom" mat-button (click)="this.equipWeapon(card.code)">Equipar</button>
                            } @else {
                                <button class="mat-button-custom" mat-button (click)="this.drinkPotion(card.code, card.value)">Beber</button>
                            }
                            <button class="mat-button-invisible" mat-button></button>
                        } @else {
                            <button class="mat-button-custom" mat-button (click)="this.attack(card.code, card.value)">ataque sin armas</button>
                            <button class="mat-button-custom" mat-button
                            [class.disabled-button]="!this.isWeaponEquipped
                                                    || this.handPile?.cards != undefined 
                                                    && this.handPile!.cards.length > 1 
                                                    && this.deckService.getCardValue(this.handPile!.cards.at(-1)!.value, true) > 1 
                                                    && this.deckService.getCardValue(this.handPile!.cards.at(-1)!.value, true) <= this.deckService.getCardValue(card.value, true)"
                            (click)="this.attack(card.code, card.value, true)">ataque con armas</button>
                        }

                    </div>
                }
            }

        </div>

        <div id="lives">
            <img id="heart" src="heart.png">
            <h1>{{this.lifePoints}}/20</h1>
        </div>

        <div id="flee">
            <button class="mat-button-custom" mat-button
            [class.disabled-button]="this.hasFled"
            (click)="this.flee()">Huir</button>
        </div>

        <div id="hand">
            <div id="weapon">
                <h1>Arma</h1>
                @if (this.isWeaponEquipped && this.handPile!.cards[0] != undefined)
                {
                    <img class="hand-card" src="{{this.handPile!.cards[0].image}}">
                } @else {
                    <img class="hand-card" src="blank-card.png">
                }
            </div>
            
            <div id="monster">
                <h1>Monstruo</h1>
                @if (this.handPile != undefined && this.handPile.cards.length > 1)
                {
                    <img class="hand-card" src="{{this.handPile!.cards.at(-1)!.image}}">
                } @else {
                    <img class="hand-card" src="blank-card.png">
                }
            </div>
        </div>

        <div id="score">
            <h1>Puntaje</h1>
            <h2>{{this.score}}</h2>
        </div>

        <div id="end-buttons">
            <button mat-button class="mat-button-custom"
            (click)="this.giveUpGame()">Rendirse</button>

            <button mat-button
            class="mat-button-custom"
            id="reset-button"
            (click)="this.reset()">Reiniciar</button>
        </div>
    </div>
</div>
