<app-header></app-header>
<div class="container-games">

    <app-chat class="chat-screen"></app-chat>

    <div class="game-screen">

        <div id="room">
            
            <div class="room-card">
                <img class="card" src="card_back.png">
                <button class="mat-button-custom" mat-button>ataque sin armas</button>
                <button class="mat-button-custom" mat-button>ataque con armas</button>
            </div>

            <div class="room-card">
                <img class="card" src="card_back.png">
                <button class="mat-button-custom" mat-button>ataque sin armas</button>
                <button class="mat-button-custom" mat-button>ataque con armas</button>
            </div>
            
            <div class="room-card">
                <img class="card" src="card_back.png">
                <button class="mat-button-custom" mat-button>ataque sin armas</button>
                <button class="mat-button-custom" mat-button>ataque con armas</button>
            </div>

            <div class="room-card">
                <img class="card" src="card_back.png">
                <button class="mat-button-custom" mat-button>ataque sin armas</button>
                <button class="mat-button-custom" mat-button>ataque con armas</button>
            </div>

        </div>

        <div id="lives">
            <img id="heart" src="heart.png">
            <h1>20/20</h1>
        </div>

        <div id="flee">
            <button class="mat-button-custom" mat-button>Huir</button>
        </div>

        <div id="hand">
            <div id="weapon">
                <h1>Arma</h1>
                <img class="hand-card" src="blank-card.png">
            </div>

            <div id="monster">
                <h1>Monstruo</h1>
                <img class="hand-card" src="blank-card.png">
            </div>
        </div>

        <div id="score">
            <h1>Puntaje</h1>
            <h2>0</h2>
        </div>

        <div id="end-buttons">
            <button mat-button class="mat-button-custom">Rendirse</button>
            <button mat-button class="mat-button-custom">Reiniciar</button>
        </div>
    </div>
</div>
